/* Styles for the phone screens */

/* Foundation */
.phone {
  @include size(380px 799px);
  margin: 50px auto;
  background: url('../img/phone.png') center no-repeat;
  background-size: 380px 799px;
}
.screen-container {
  @include size(321px 569px);
  @include position(relative, 118px 0 0 32px);
  overflow: auto;
  background-color: #000;
}

/* Opening Screen */
.opening-screen {
  @include size(100%);
  display: none;
  background: url('../img/lock.png') center no-repeat;
  background-size: 321px 569px;
  .icon {
    @include transition(opacity 0.5s ease-in);
    @include size(123px 144.5px);
    @include transform(translateY(212px));
    margin: 0 auto;
    background: url('../img/icon.png') center no-repeat;
    background-size: 123px 144.5px;
    opacity: 0.5;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }
}

/* Home Screen */
.home-screen {
  @include size(100%);
  display: none;
  background-color: #F5F5F5;
}
.home-cell {
  position: relative;
  border-bottom: 1px solid $lines;
  background-color: #ffffff;
  box-shadow: $block-shadow;
}
.home-cell-top {
  @include size(100% 45px);
  cursor: pointer;
}
.home-cell-bottom {
  margin: 5px 0 15px 14px;
  .button-small {
    margin: 10px 10px 0 0;
  }
}
.home-cards { z-index: 5; }
.home-pay { z-index: 4; }
.home-transactions { z-index: 3; }
.home-deals { z-index: 2; }

/* Cards Screen */
.cards-screen {
  @include size(100%);
  display: none;
  background-color: #F5F5F5;
}

/* Add Card Screen */
.add-card-screen {
  @include size(100%);
  //display: none;
  background-color: #F5F5F5;

  .add-card-input-line {
    border-radius: 3px;
    border: 1px solid $lines;
    @include size(97% 30px);
    margin-right: $sidepad;
    padding: 0 10px;
    text-align: left;
    display: inline-block;
    &:focus {
      outline: none !important;
      border-color: $main;
    }
  }

  .add-card-input-inline {
  @include size(100%);
  //display: none;
  border-radius: 3px;
  border: 1px solid $lines;
  @include size(47px 30px);
  margin-right: $sidepad;
  padding: 0 10px;
  text-align: left;
  display: inline-block;
  &:focus {
    outline: none !important;
    border-color: $main;
  }
}

  .add-card-input-sections {
    font-size: 0.9em;
    margin-left: 10px;
  }

  .submit-button {
    background: #A4A4A4;
    border: none;
    position: absolute;
    border-radius: 3px;
    width: 300px;
    height: 40px;
    &:focus {
      outline: none !important;
      background: $main;
    }
  }

  .submit-button-cell {
    margin: 10px;
    padding-top: 5px;
  }

}

/* Paid Modal */
.paid-modal {
  @include size(100% 150px);
  @include position(absolute, 200px 0 0 0);
  z-index: 2060;
  display: none;
  background-color: rgba(39, 174, 96, 0.6);
  p {
    color: #fff;
    text-align: center;
    font-size: 1.75em;
    margin-bottom: 15px;
  }
}
