/* Styles for the phone screens */

/* Foundation */
.phone {
  @include size(380px 799px);
  margin: 50px auto;
  background: url('../img/phone.png') center no-repeat;
  background-size: 380px 799px;
}
.screen-container {
  @include size(321px 569px);
  @include position(relative, 118px 0 0 32px);
  overflow: auto;
  background-color: #000;
}
.screen {
  @include size(100%);
  display: none;
  background-color: #F5F5F5;
}

/* Opening Screen */
.opening {
  display: block;
  background: url('../img/lock.png') center no-repeat;
  background-size: 321px 569px;
  .icon {
    @include transition(opacity 0.5s ease-in);
    @include size(123px 144.5px);
    @include transform(translateY(212px));
    margin: 0 auto;
    background: url('../img/icon.png') center no-repeat;
    background-size: 123px 144.5px;
    opacity: 0.5;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }
}

/* Home Screen */
.home {
  //display: block;
}
.home-cell {
  position: relative;
  border-bottom: 1px solid $lines;
  background-color: #ffffff;
  box-shadow: $block-shadow;
}
.home-cell-top {
  @include size(100% 45px);
  cursor: pointer;
}
.home-divider {
  @include size(261px 1px);
  margin: 0 0 0 25px;
  border: none;
  background-color: $lines;
}
.home-cell-bottom {
  margin: 5px 0 15px 14px;
  .button-small {
    margin: 10px 10px 0 0;
  }
}
.home-cards { z-index: 5; }
.home-pay { z-index: 4; }
.home-transactions { z-index: 3; }
.home-deals { z-index: 2; }

/* Cards Screen */
.cards {
  //display: block;
}

/* Transactions - Cards Screen */
.transactions-cards {
  //display: block;
  .cell-title {
    padding-bottom: 0;
  }
  .cell-price {
    margin-top: -43px;
  }
}

/* Transactions Screen */
.transactions {
  //display: block;
}

/* Paid Modal */
.paid-modal {
  @include size(100% 150px);
  @include position(absolute, 200px 0 0 0);
  z-index: 2060;
  display: none;
  background-color: rgba(39, 174, 96, 0.6);
  p {
    color: #fff;
    text-align: center;
    font-size: 1.75em;
    margin-bottom: 15px;
  }
}
