input {
  width: 300px;
  margin-left: $sidepad;
  padding: 5px 10px;
  border: 1px solid $lines;
  border-radius: $radius;
  font-size: 0.9em;
  &:focus {
    outline: none;
    border-color: $main;
  }
}
.input-small-container {
  padding-right: $sidepad;
  float: left;
  input {
    width: 47px;
    text-align: center;
    &:last-child { margin-left: 0; }
  }
}

/* Buttons */
.button-small {
  @include transition(opacity 0.5s ease-in);
  @include size(88px 30px);
  display: inline-block;
  padding: 0;
  border: none;
  border-radius: $radius;
  background-color: $main;
  box-shadow: none;
  color: #ffffff;
  text-align: center;
  font-size: 0.8em;
  line-height: 30px;
  opacity: 0.8;
  -webkit-transform: translateZ(0px);
  -webkit-appearance: none;
  &:hover {
    opacity: 1;
  }
}
.button-large {
  @include size(300px 40px);
  background-color: $lines;
  color: #fff;
  border-radius: $radius;
  border: none;
  outline: none;
  margin: $sidepad;
}
.save {
  background-color: $main;
}
.delete {
  background-color: $warning;
  margin-top: 0;
}
.filter {
  @include size(100% 54px);
  background-color: #fff;
  border-bottom: $border;
  cursor: pointer;
}