/* Menu Bar Elements */
.menu-bar-tall {
  @include size(100% 100px);
  position: relative;
  z-index: 10;
  background-color: $main;
  box-shadow: $block-shadow;
  .settings-icon {
    @include position(absolute, 30px 0 0 $sidepad);
  }
  .avatar {
    @include position(absolute, 25px 0 0 124px);
  }
  .add-icon {
    @include position(absolute, 30px $sidepad 0 0);
  }
}
.status-bar {
  @include size(308px 14px);
  @include position(relative, 5px 0 0 7px);
  z-index: 2100;
  float: left;
  background: url('../img/status-bar.png') center no-repeat;
  background-size: 308px 14px;
}

/* Buttons */
.button-small {
  @include transition(opacity 0.5s ease-in);
  @include size(88px 30px);
  display: inline-block;
  padding: 0;
  border: none;
  border-radius: 3px;
  background-color: $main;
  box-shadow: none;
  color: #ffffff;
  text-align: center;
  font-size: 0.8em;
  line-height: 30px;
  opacity: 0.8;
  -webkit-transform: translateZ(0px);
  -webkit-appearance: none;
  &:hover {
    opacity: 1;
  }
}

/* Icons */
.next-icon {
  @include size(8px 13px);
  float: right;
  padding: 60px 30px 0 0;
  background: url('../img/next-icon.png') center no-repeat;
  background-size: 8px 13px;
}
.avatar {
  @include size(71px);
  background: url('../img/avatar.png') center no-repeat;
  background-size: 71px 71px;
}
.settings-icon {
  @include size(25px);
  background: url('../img/settings-icon.png') center no-repeat;
  background-size: 25px 25px;
  cursor: pointer;
}
.add-icon {
  @include size(25px);
  background: url('../img/add-icon.png') center no-repeat;
  background-size: 25px 25px;
  cursor: pointer;
}
.cards-icon {
  @include size(29px 22px);
  float: left;
  margin: 18px $sidepad 0 $sidepad;
  background: url('../img/cards-icon.png') center no-repeat;
  background-size: 29px 22px;
}
.pay-icon {
  @include size(29px 26px);
  float: left;
  margin: 15px $sidepad 0 $sidepad;
  background: url('../img/pay-icon.png') center no-repeat;
  background-size: 29px 26px;
}
.transactions-icon {
  @include size(29px 29px);
  float: left;
  margin: 15px $sidepad 0 $sidepad;
  background: url('../img/transactions-icon.png') center no-repeat;
  background-size: 29px 29px;
}
.deals-icon {
  @include size(29px 29px);
  float: left;
  margin: 15px $sidepad 0 $sidepad;
  background: url('../img/deals-icon.png') center no-repeat;
  background-size: 29px 29px;
}

/* Decorative */
.home-divider {
  @include size(261px 1px);
  margin: 0 0 0 25px;
  border: none;
  background-color: $lines;
}