/* Typography */
h1 {
  float: left;
  margin: 16px 0;
  font-size: 1.15em;
  font-weight: normal;
}
.subtitle {
  color: #7c7c7c;
  font-size: 0.7em;
  margin: 10px 0 5px 0;
}
.cell-title {
  font-size: 0.9em;
  margin: 0;
}
.cell-price {
  float: right;
  margin: -17px 15px 0 0;
  font-size: 0.9em;
}