/* Typography */
h3 {
  float: left;
  margin: 16px 0;
  font-size: 1.15em;
  font-weight: normal;
}
.menu-bar-title {
  color: #fff;
  font-size: 1.15em;
  text-align: center;
  padding-top: 30px;
}
.filter-title {
  text-align: center;
  padding-top: 16px;
}

/* Home */
.home-subtitle {
  color: #7c7c7c;
  font-size: 0.7em;
  margin: 10px 0 5px 0;
}
.home-cell-title {
  font-size: 0.9em;
  margin: 0;
}
.home-cell-price {
  float: right;
  margin: -17px 15px 0 0;
  font-size: 0.9em;
}
.cell-card-input-title {
  font-size: 0.9em;
  display: inline-block;
  margin-left: 10px;
}
