/* Typography */
h3 {
  float: left;
  margin: 16px 0;
  font-size: 1.15em;
  font-weight: normal;
}
.menu-bar-title {
  color: #fff;
  font-size: 1.15em;
  text-align: center;
  padding-top: 30px;
}
.filter-title {
  text-align: center;
  padding-top: 16px;
}

/* Cells */
.cell-section-title {
  color: $subtitle;
  font-size: 0.7em;
  margin: 5px $sidepad;
}
.cell-title {
  padding: 12px 0;
  margin: 0;
  font-size: 1.1em;
  font-weight: normal;
}
.cell-subtitle {
  font-size: 0.7em;
  margin: 0;
  padding-bottom: 12px;
  color: $subtitle;
}
.cell-price {
  float: right;
  margin: -35px 15px 0 0;
  font-size: 1.1em;
}

/* Home */
.home-subtitle {
  color: $subtitle;
  font-size: 0.7em;
  margin: 10px 0 5px 0;
}
.home-cell-title {
  font-size: 0.9em;
  margin: 0;
}
.home-cell-price {
  float: right;
  margin: -17px 15px 0 0;
  font-size: 0.9em;
}