// Typography
///////////////////////////////////////////////////////////////////////////////


// Sizes
///////////////////////////////////////////////////////////////////////////////

$sidepad: 10px;

// Colors
///////////////////////////////////////////////////////////////////////////////

$main: #27ae60;
$subtitle: #7c7c7c;
$lines: #c8c7cc;
$warning: #c0392b;

// Decorative
///////////////////////////////////////////////////////////////////////////////
$block-shadow: 1px 0 10px rgba(0,0,0,0.1);
$border: 1px solid $lines;
$radius: 3px;