// Typography
///////////////////////////////////////////////////////////////////////////////


// Sizes
///////////////////////////////////////////////////////////////////////////////

$sidepad: 10px;

// Colors
///////////////////////////////////////////////////////////////////////////////

$main: #27ae60;
$lines: #c8c7cc;

// Decorative
///////////////////////////////////////////////////////////////////////////////
$block-shadow: 1px 0 10px rgba(0,0,0,0.1);